<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>io.github.2394826867zhu-stack.LidMode</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/MacOS/LidModePrivilegedHelper</string>
	<key>Label</key>
	<string>app.lidmode.PrivilegedHelper</string>
	<key>MachServices</key>
	<dict>
		<key>app.lidmode.PrivilegedHelper</key>
		<true/>
	</dict>
</dict>
</plist>
